.scenes-con {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 0.9rem;
}

.scenes-header > p {
  align-self: flex-end;
  color: #296FFA;
  font-weight: 700;
}

.frames-con {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  padding-left: 0;
  margin-bottom: 2em;
}

.scene {
  margin-right: 1em;
  margin-top: 1em;
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.scene video {
  width: 100%;
}

.selected-con {
  position: absolute;
  background-color: springgreen;
  display: flex;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  visibility: hidden;
}

.selected-con p:last-child {
  margin-left: 0.5em;
}

.selected-tag {
  visibility: visible;
}
